<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>KURSAI</title>
    <link rel="stylesheet" type="text/css" href="Resources/CSS/base.css" />
</head>
<body>
    <div id="page">

        <div id="header">
            {% block header %}
                <a href="/"><img src="Resources/IMG/banner.png" alt="Home" /></a>
            {% endblock %}
        </div>
        <div id="navigation">
            {% block userzone %}
                <div>
                    {% if user.getLoginStatus() %}
                        Loged in as <b>{{ user.getUsername() }}</b>.<br />
                        You can:
                        <ul>
                            <li><a href="?cl=MyAccount">Preview your courses</a></li>
                        {% if user.getAdmin() %}
                            <li><a href="?cl=MyAccount">Manage courses</a></li>
                        {% endif %}
                        <li><a href="?cl=UserManagement&amp;fn=logout">Logout</a></li>
                        </ul>
                    {% else %}
                        {% if loginError is defined %}
                            <p>Wrong login data.</p>
                        {% endif %}

                        <form action="?cl=UserManagement&amp;fn=login" method="POST" id="loginForm">
                            <p class="clear">
                                <span>Username</span>
                                <input type="text" name="username" />
                            </p>
                            <p class="clear">
                                <span>Password</span>
                                <input type="password" name="password" />
                            </p>
                            <input type="submit" value="Log In" />
                        </form>
                        <p>
                            Do not have account? <a href="?cl=UserManagement">Register</a>
                        </p>
                    {% endif %}
                </div>
            {% endblock %}
            {% block navigation %}
                <div>
                    <h2>All courses</h2>
                    {% for course in allCourses %}
                        <ul>
                            <li>
                                {{ include ('course.html.twig', {"layout": "minimal", "course": course}) }}
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
                Sign up for courses.
            {% endblock %}
        </div>
    </div>
    <script type="text/javascript" src="Resources/JS/jquery.js"></script>
    <script type="text/javascript" src="Resources/JS/formValidation.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>