<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false"
        bootstrap="../Core/autoload.php">

    <testsuites>
        <testsuite name="Functional">
            <directory>./Functional/</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./Integration/</directory>
        </testsuite>
        <testsuite name="All">
            <directory>./Functional/</directory>
            <directory>./Integration/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../Core</directory>
            <exclude>
                <file>../Core/autoload.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="coverage" title="Coverage" charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="logs/clover.xml"/>
        <log type="junit" target="logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>